.box {
	background-color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #e2e2e9;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	background-color: #eeeeee;
	border-color: #ddd;
	cursor: not-allowed;
}

ul {
	list-style-type: none;
}
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml30 { margin-left: 30px; }
.ml60 { margin-left: 60px; }
.ml90 { margin-left: 90px; }
.ml120 { margin-left: 120px; }
.mt20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

.fn_b,pre{
	color: #000000;
}

.box-cell {
	padding: 10px;
	font-size: 12px;
	line-height: 120%;
	text-align: left;
	/*border-bottom: 1px solid #e2e2e2;*/
}

.box-item p a.post-title:link{
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-shadow: 0 1px 0 #fefefe;
}

.box-item p {
	margin: 0 0	0.5em;
}


.topic-list {
	clear: both;
}

.box-item p a{
	color: #828282;
	text-decoration:none;
}
.box-item p a:hover{
	color: #555555;
	text-decoration:underline;
}

.box-item p a:visited {
	color: #828282;
}

.box-item span img{
	cursor: pointer;
}