.box {
	background-color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-bottom: 2px solid #e2e2e9;
}

.box-cell {
	padding: 10px;
	font-size: 12px;
	line-height: 120%;
	text-align: left;
	border-bottom: 1px solid #e2e2e2;
}

.box-item p a.post-title:link{
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-shadow: 0 1px 0 #fefefe;
}

.topic-list {
	clear: both;
}

.box-item p a{
	color: #555;
	text-decoration:none;
}
.box-item p a:hover{
	color: #555;
	text-decoration:underline;
}

.box-item p a:visited {
	color: #828282;
}